{{ if .Site.Params.contact.enable  }}

<script src="//code.tidio.co/f4ogejofhminlohnkgyceycwjncxubaj.js" async></script>
<section id="contact" class="section section--contact pt-0 ">
    <div class="container">
        <div class="contact"> 
            <h2 class="font-bwnistaint">Contacto</h2>
            <div class="row pt-2">
                <div class="col-12 col-lg-7">
                    <form action="{{.Site.Params.contact.form_action}}" method="POST">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="name" id="name" class="form-control px-0 mb-4"
                                       placeholder="Nombre Completo"/>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="email" id="email" class="form-control px-0 mb-4"
                                       placeholder="Correo Electronico"/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <textarea name="message" id="message" class="form-control px-0 mb-4"
                                          cols="30" rows="3" placeholder="Deja tu mensaje aqui"></textarea>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-primary ">
                                    <i class="{{ .Site.Data.homepage.contact.button.icon }}"></i>
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="col-12 col-lg-5 contact__info">
                    <h4 class="font-bwnistaint">Teléfono</h4>
                    <span>{{.Site.Params.phone}}</span>
                    <h4 class="font-bwnistaint">Correo Electrónico</h4>
                    <span>{{.Site.Params.email}}</span>
                    <h4 class="font-bwnistaint">Dirección</h4>
                    <span>{{.Site.Params.address}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}


<!-- footer -->
<footer class="bg-primary footer-section text-center ">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <!-- social icon -->
          {{ range .Site.Params.social }}
          <span class="mr-4">
             <a class="text-white h2" href="{{.URL | safeURL }}" target="_blank"><i class="{{.icon}}"></i></a>
          </span>                 
       {{ end }}
        <!-- /social icon -->
          </div>
          <div class="col-sm-6">
            <img class="" src="{{ .Site.Params.logo_footer | absURL }}"> <a href="https://www.sait.mx/" target="_blank"></a>
          </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-primary py-1">
    <p class="text-white">{{ .Site.Params.copyright | markdownify }}</p>
  </div>

</footer>
<!-- /footer -->
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ .Site.Params.google_analitycs_id }}', 'auto');
  ga('send', 'pageview');
</script>
