{{ define "main" }}

{{ partial "page-left-title.html" . }}

  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        {{ range .Data.Pages }}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->

{{ end }}