{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area" id="parallax">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-lg-9">
          <h1 class="text-dark font-tertiary1">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
          <p class="font-tertiary2">{{ .Site.Data.homepage.banner.subtitle | safeHTML }}</p>
            <!-- social icon -->
            {{ range .Site.Params.social }}
               <span class="mr-4">
                  <a class="text-dark h3" href="{{.URL | safeURL }}" target="_blank"><i class="{{.icon}}"></i></a>
               </span>                 
            {{ end }}
             <!-- /social icon -->
        </div>
        
        <div class="col-sm-12 col-lg-3 header-slider">
          {{ range .Site.Data.homepage.banner.slider }}
          <img class="img-fluid"  src="{{ .image | absURL }}" >
          {{ end }}
        </div>
        
      </div>
    </div>
    <img class="img-fluid edu-bg-image w-100" src="{{`images/backgrounds/education-bg.png`|relURL}}" alt="bg-image">
  
  </section>
  <!-- /hero area -->

  {{ if .Site.Data.homepage.about.enable }}
  {{ with .Site.Data.homepage.about }}
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
          <p class=" lead text-dark">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-sm btn-primary">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
        <div class="col-lg-4 text-center">
          <img class="" src="images/about/20añossait.webp"> <a href="https://www.sait.mx/" target="_blank"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- /about   -->
  {{ end }}




  {{ if .Site.Data.homepage.service.enable }}
  {{ with .Site.Data.homepage.service }}
  <!-- services -->

  <section class="section ">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">Construyendo empresas eficientes</h2>
        </div>
        {{ range .item }}
        <div class="col-md-4 mb-4 ">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-5 hover-shadow">
              <i class="{{.icon }} icon mb-5 d-inline-block "></i>
              <h4 class="mb-4 font-bwnistaint">{{.title}}</h4>
              <p class="lead ">{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}
  {{ end }}


  {{ if .Site.Data.homepage.portfolio.enable }}
  <!--Sistemas Sait -->


  
  <section class="section">
    <div class="container">
      <div class="row">
        

        <div class="col-12 text-center">
          <h2 class="section-title">Sistemas SAIT</h2>

          

        </div>
      </div>
      <div class="row">
    
        <div class="col-lg-12 col-12">
          <div class="position-relative rounded hover-wrapper">
            <div class="col-sm-12 col-lg-12 text-center body-slider">
              {{ range .Site.Data.homepage.banner.slider }}
              <img class="img-fluid mr-3"  src="{{ .image | absURL }}" >
              {{ end }}
              
              
            </div>
            
          </div>
          <br>
          <p class="text-center font-tertiary2">{{ .Site.Data.homepage.sistemas.subtitle | safeHTML }}</p>
        </div>
      
      </div>
    </div>
  </section>
  <!-- /Sistema Sait -->
  {{ end }}



  
  {{ if .Site.Data.homepage.testimonial.enable }}
  {{ with .Site.Data.homepage.testimonial }}
  <!-- testimonial -->
  <section class="text-center section bg-primary position-relative testimonial-bg-shapes">
    
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title text-white mb-5">{{ .title | markdownify }}</h2>
        </div>
        <div class="container">
          <div class="row row--padded mb-0 rad-fade-down rad-waiting rad-animate" style="animation-delay: 0.3s;">
            {{ range .item }}
            <div class="col-12 col-md-4 mb-5 mb-md-0 testimonial">
              <i class="icon-quote text-white display-4 ti-quote-right"></i>
              <p class="text-white ">
                {{.content | markdownify}}
              </p>
              <div class="testimonial__author">
                <img class="lozad testimonial__author-image rounded-circle" src="{{.image | absURL }}" data-loaded="true">
                <div class="testimonial__author-info mt-3">
                  <b class="text-white ">{{.name }}</b><br>
                  <span class="text-white">{{ .designation }}</span>
                </div>
              </div>
            </div>
            {{ end }}           
          </div>
      </div>

      </div> 
    </div>
  </section>
  <!-- /testimonial -->
  {{ end }} 
  {{ end }}


  {{ if .Site.Data.homepage.clients_logo_slider.enable }}
  <!-- client logo slider -->
  <section class="section pb-0">
    <div class="container">
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /client logo slider -->
  {{ end }}

  {{ if .Site.Data.homepage.blog.enable }}
  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">{{.Site.Data.homepage.blog.title | markdownify }}</h2>
        </div>
        {{ range first 3 .Site.RegularPages }}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}

  
{{ end }}
