{{ define "main" }}

{{ partial "page-left-title.html" . }}

<!-- revista -->
{{ if .Site.Data.revista.revistas.enable }}
{{ with .Site.Data.revista.revistaMes }}
<section class="section" data-background="{{`images/backgrounds/bg-dots-grey.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-lg-4 col-sm-6 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="{{.image | relURL}}" alt="{{.imageTitle }}">
          <div class="card-body">
            <h4 class="card-title font-bwnistaint text-center">{{ .edicion }}</h4>
            <a target="_blank" href="{{.src}}" class="btn btn-block btn-xs btn-primary">Ver edición</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./revista -->
<!-- revistas -->
{{ if .Site.Data.revista.revistas.enable }}
{{ with .Site.Data.revista.revistas }}
<section class="section" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <div class="row justify-content-around">
      {{ range .item}}
      <div class="col-lg-2 col-sm-4 mb-4">
        <article class="card shadow">
          <img class="rounded card-img-top" src="{{.image | relURL}}" alt="{{.imageTitle }}">
          <div class="card-body">
            <p class="card-title font-bwnistaint text-center">{{.edicion | markdownify }}</p>
            <a target="_blank" href="{{ .src }}" class="btn btn-block btn-xs btn-primary">Ver edición</a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- <section class="section">
  <ul>
    {{ range .Resources.Match "revistas/*" }}
    <li>
      <a target="_blank" href="{{ .Permalink }}">
        <i class="far fa-file-{{ .Params.icon }}"></i> {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
</section> -->


<!-- ./revistas -->

{{ end }}