{{ define "main" }}

{{ partial "page-left-title.html" . }}

<!-- productos -->
{{ if .Site.Data.precios.productos.enable }}
{{ with .Site.Data.precios.productos }}
<section class="section bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      <div class="card-deck">
        {{ range .item }}
        <div class="card shadow" style="width: 25rem;">
          <img src="{{ .image | absURL }}" class="card-img-top" >
          <div class="card-body text-center">
            <h5 class="card-title font-bwnistaint">{{.nombre }}</h5>
            <p class="card-text">{{.modulos }}</p>
           
          </div>
          <button class="btn btn-primary btn-sm" onclick="showTablePrices('{{ .id }}')" id="btn_">Mas Información</button>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /productos -->

<!-- tablas de precios -->
{{ if .Site.Data.precios.productos.enable }}
{{ with .Site.Data.precios.productos }}
<section class="section bg-cover">
  <div class="container">
    {{ range .item }}
    <div class="row justify-content-center ">
      <div class="tabla_precios col-6 d-none"  id="{{ .id }}">
        <div class="text-center mb-4">
          <img class="img-fluid" src="{{ .imageTable | absURL }}" style="max-width: 300px;">
        </div>
        <table class="table table-borderless {{ .cssTable }} ">
          {{ range .usuarios}}
          <tr>
            <th class="text-center">{{ .paquete }}</th>
            <td class="text-center"><b>{{ .precio }}</b></td>
          </tr>
          {{ end }}
          {{ range .adicional}}
          <tr>
            <th class="text-center">{{ .nombre }}</th>
            <td class="text-center"><b>{{ .precio }}</b></td>
          </tr>
          {{ end }}
        </table>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
<!-- /tablas de precios -->

{{ end }}