{{ define "main" }}

{{ partial "page-left-title.html" . }}

{{ with .Site.Data.distribuidores.unete }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="section-title text-center">Unete a Nosotros</h3>
      </div>
    </div>
    <div class="row justify-content-around text-center">
      <div class="col-lg-6 col-sm-6 mb-6 ">
        <h1 class="font-tertiary1 mt-3 mb-4 pb-3" >Localiza a tu distribuidor mas cercano</h1>
        <h1 class="font-tertiary3  mb-2">¿Quieres Ser distribuidor y ganar una comision?</h1>
        <h4 class="card-title font-bwnistaint  mb-4 ">{{.subtitle }}</h4>
        <a href="https://www.sait.mx/distribuidores/" target="_blank" class="btn btn-sm btn-primary mx-auto  mb-4">ENTRA AQUI</a>
        
      </div>
      <div class="col-lg-6 col-sm-6 mb-6">
        <article class="">
          <p style="text-align: center;"><iframe src="https://www.google.com/maps/d/embed?mid=1-qUHXWZDii7afAmWWWhEdvJSU4jMC-bn" width="570" height="500"></iframe></p>
        </article>
      </div>
  </div>
</section>
{{ end }}
{{ end }}

