{{ define "main" }}

{{ partial "page-left-title.html" . }}

<!-- ubicaciones -->
{{ if .Site.Data.contacto.ubicaciones.enable }}
{{ with .Site.Data.contacto.ubicaciones }}

<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title ">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4 font-bwnistaint">{{ .title }}</h4>
        {{if ne .domicilio ""}}
        <p>
          <b>Domicilio</b><br>
          <span>{{.domicilio | markdownify }}</span>
        </p>
        {{end}}
        <p>
          <b>Telefono:</b>
          <span>{{.tel | markdownify }}</span>
        </p>
        <p>
          <b>Correo</b><br>
          <span>{{.correo | markdownify }}</span>
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./ubicaciones -->


{{ end }}