
/*CONTACT*/

  

.section--contact {
    padding-bottom: 0;
	background-image: url(../images/contacto/contact-bg.png);
	background-repeat: repeat-x;
	background-position: 0 102% 
}

.section--contact .container {
	background-color: #fff;
	box-shadow: 0 42px 34px -16px rgba(0, 0, 0, .3)
}

@media (min-width:992px) {
	.contact {
		margin-top: -2px
	}
}
.contact {
	padding: 60px 30px
}

@media (min-width:768px) {
	.contact {
		padding: 100px 80px
	}
}

.contact__info,
.experience+.experience {
	padding-top: 50px
}

.contact__info h4 {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 2;
	color: #333
}

.contact__info span+h4 {
	margin-top: 20px
}

@media (min-width:992px) {
	.contact__info {
		padding: 0 70px
	}
	.contact__info span+h4 {
		margin-top: 40px
	}
}

.education__date,
.experience__date {
	line-height: 1.57
}


.font-bwnistaint {
    font-family: bwnistaint-xbd;
}

.bg-white{
	background-color: #fff;
}

.table-basico th{
	color: #9B3032;
}

.table-basico tr:nth-child(odd) {
	background-color: #FFDDD1;
}

.table-basico tr:nth-child(even) {
	background-color: #F0A3A8;
}

.table-erp th{
	color: #20425e;
}

.table-erp tr:nth-child(odd) {
	background-color: #e7ecf2;
}

.table-erp tr:nth-child(even) {
	background-color: #99bbd4;
}

.table-nomina th{
	color: #c9b23a;
}

.table-nomina tr:nth-child(odd) {
	background-color: #fff1cd;
}

.table-nomina tr:nth-child(even) {
	background-color: #ffe19c;
}

.table-contable th{
	color: #396a89;
}

.table-contable tr:nth-child(odd) {
	background-color: #cceaf5;
}

.table-contable tr:nth-child(even) {
	background-color: #9bd5eb;
}

.table-movil th{
	color: #16985d;
}

.table-movil tr:nth-child(odd) {
	background-color: #ced;
}

.table-movil tr:nth-child(even) {
	background-color: #9ad7b8;
}