{{ define "main" }}

{{ partial "page-left-title.html" . }}
<section class="section bg-cover">
   <div class="container">
     <div class="row">
      <div class="col-12 text-center">
         <h3 class="section-title">Descarga y prueba por 30 días SIN COSTO.</h32>
       </div>
     <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-12 col-sm-6">
            <div class="col-lg-12 col-md-6 col-sm-6">
               <h1 class="font-tertiary4">Decide hoy mismo aumentar el potencial de tu empresa!!!!</h1>
               <p class="font-tertiary3">Solicita ahora mismo una cita y <span class="negritas-text"> descubre todo el potencial de tu empresa</span> con las herramientas empresariales de <span class="negritas-text">SAIT.</span></p>
             </div>
             <div class="col-12 d-flex justify-content-center">
               <div class="col-6">
                  <div class="redondo-slider">
                     {{ range .Site.Data.homepage.redondos.slider }}
                     <img class="img-fluid"  src="{{ .image | absURL }}" >
                     {{ end }}
                   </div>
                </div>
             </div>
         </div>

       <div class="col-lg-6 col-md-12 col-sm-6 ">
         <div class="card shadow">
            <div class="card-body p-5">
               <form action="https://formspree.io/rafaeljara@saitenlinea.com" method="POST" target="_nex" />
                  <div class="form-row">
                     <div class="col-md-12">
                        <label class="font-tertiary3" for="inputEmail4">Nombre</label>
                        <input type="text" id="name" name="name" placeholder="name" class="form-control" id="inputEmail4">
                     </div>
                  </div>
                  <br>
                  <div class="form-row">
                     <label class="font-tertiary3" for="inputPassword4">Teléfono</label>
                     <input type="text" id="telephone" name="telephone" placeholder="telephone" class="form-control" id="inputPassword4">
                     </div>
                     <br>
               
                  <div class="form-row">
                  <label class="font-tertiary3" for=" inputAddress">Correo Electrónico</label>
                  <input type="text" id="email" name="email" placeholder="email" class="form-control" id="inputAddress">
                  </div>
                  <br>
                  <div class="form-row">
                     <div class="form-group col-md-12">
                        <label class="font-tertiary3" for="inputPassword4">Empresa</label>
                        <input type="text" id="empresa" name="empresa" placeholder="empresa" class="form-control" id="inputPassword4">
                     </div>
                  </div>
                  <br>
                  <div class="form-group">
                     <label class="font-tertiary3" for="inputState">Producto a comprar :</label>
                     <select id="inputState" id="producto" name="producto" placeholder="producto" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>SAIT Básico</option>
                        <option>SAIT ERP</option>
                        <option>SAIT Contabilidad</option>
                        <option>SAIT Nómina</option>
                        <option>SAIT Movil</option>
                        <option>SAIT Boveda</option>
                        <option>Factura 123</option>
                     </select>
                  </div>
                  
                  <div data-netlify-recaptcha="true">
                      
                  </div>
                  <br>
                  <button type="submit" type="reset"  class="btn btn-sm btn-block btn-primary">Enviar Pedido</button>
               </form>
            </div>
         </div>
       </div>
     </div>
   </div>
     </div>
</div>
 </section>


{{end}}